.uno{
  background: #E2E2E2;
  height: 100px;
    
  display: flex;
  justify-content: center;  
   align-items: center;
    
    
}


.dos{
 background: #FFF0AC;   
  height: 100px;
    
 display: flex;   
 justify-content: center;   
  align-items: center;
  
    
}
.tres{
 background:  #D1EAFF;   
  height: 100px;
    
 display: flex;   
 justify-content: center;   
  align-items: center;
  
    
}